body {
  background-color: turquoise;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  max-width: 50%;
  margin: auto;
  margin-top: 10px;
  gap: 10px;
  justify-content: space-around;
  font-size: 1.5rem;
}

.count {
  font-size: 7rem;
  background-color: white;
  border: 5px solid black;
  border-radius: 80px;
  width: 35%;
  padding: 10px;
  margin: auto;
  margin-top: 30px;
}

.b-container {
  margin: auto;
  margin-top: 10px;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}
