body {
  background-color: turquoise;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.cd-container {
  display: flex;
  flex-direction: column;
}

.cd-input {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  max-width: 50%;
  margin: auto;
  margin-top: 10px;
  gap: 10px;
  justify-content: space-around;
}

.cd-count {
  display: flex;
  justify-content: center;
  font-size: 7rem;
  background-color: white;
  border: 5px solid black;
  border-radius: 40px;
  width: 40%;
  margin: auto;
  margin-top: 30px;
}

.cd-b-container {
  display: flex;
  margin: auto;
  margin-top: 10px;
  flex-direction: row;
  gap: 10px;
}

.cd-button {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  font-size: 1.5rem;
}
